<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Com.revo.AzureVmController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <Com.revo.AzureVmController.Properties.Settings>
            <setting name="Access_AuthKey" serializeAs="String">
                <value />
            </setting>
            <setting name="Access_ClientID" serializeAs="String">
                <value />
            </setting>
            <setting name="Access_TenantID" serializeAs="String">
                <value />
            </setting>
            <setting name="Access_SubscriptionID" serializeAs="String">
                <value />
            </setting>
        </Com.revo.AzureVmController.Properties.Settings>
    </userSettings>
</configuration>